<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBServer" value="server184.hosting.reg.ru" />
		<add key="DBPort" value="3306" />
		<add key="DBName" value="u3269995_launcher" />
		<add key="DBUser" value="u3269995_admin" />
		<add key="DBPassword" value="Barsik178RuS" />
		<add key="DBAllowPublicKeyRetrieval" value="True" />
		<add key="GameFilesUrl" value="https://sqmccraft.online/minecraft/" />
		<add key="ManifestFile" value="manifest.json" />
		<add key="UpdateCheckUrl" value="https://sqmccraft.online/launcher/update_info.json" />
		
		<add key="ForgeVersion" value="1.12.2-14.23.5.2860" />
		<add key="ForgeInstallerUrl" value="https://maven.minecraftforge.net/net/minecraftforge/forge/1.12.2-14.23.5.2860/forge-1.12.2-14.23.5.2860-installer.jar" />
		<add key="AssetsIndexUrl" value="https://resources.download.minecraft.net/1.12.json" />
		<add key="MavenRepositoryUrl" value="https://repo1.maven.org/maven2/" />
		
		<add key="CurrentVersion" value="1.0.0" />
	</appSettings>

	<!-- Добавляем эту секцию для разрешения конфликтов версий -->
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="64fcf8690c790c86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>